<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Transport System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">

    </head>
    
    <body>

      <div class="login-form">

        <div class="card" style="width: 400px;">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.pinimg.com/originals/1a/5d/1b/1a5d1bd88067612a9fe76a7fae76d7de.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <p class="is-size-4 has-text-centered">Login</p>
            </div>
        
            <form class="content" method="POST">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
              
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password">
              
                </p>
              </div>
              <div class="field">
                <button class="button is-medium is-fullwidth is-info">Submit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    
    </body>
</html>